# 💖 SakuBot requirements.txt
# editado por Rami

# Discord bot base
discord.py==2.3.2

# Google API (Drive, Sheets, etc.)
google-api-python-client==2.185.0
google-auth==2.42.0
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0

# Webhooks y solicitudes HTTP
requests==2.32.3
aiohttp==3.10.10

# Utilidades
tqdm==4.67.1
colorama==0.4.6
packaging==24.1

# (Opcional, solo si usarás endpoints o keepalive)
# flask==3.1.2
